@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* sheared style */
  *{
    margin: 0;
    padding: 0;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }

main>section{
    margin-top: 130px;
}

  .display-flex{
    display: flex;
  }
  /* dark 2 */
  .text-gray{
    color: rgb(66, 66, 66);
  }

  .header-bg{
    background-color: rgba(255, 144, 14, 0.1);;
  }

  .primary-btn{
    font-size: 1.25rem;
    background-color: rgb(255, 144, 14);
    font-family: Work Sans;
    padding: 20px;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    color: white;
  }

  /* header style */

/* nav bar style */
.brand{
    font-size: 3rem;
    font-weight: bold;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner-section */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    color: rgb(19, 19, 19);
    margin-bottom: 20px;
}
.banner-details{
    color: rgb(114, 114, 114);
    margin-bottom: 12px;
}

.banner-img{
    width: 100%;
}


/* team & feature related */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-feature{
    margin-left: 130px;
    max-width: 530px;
}

.feature-title{
    font-size: 2.81rem;
    font-weight: 700;
    line-height: 3.31rem;
    margin-bottom: 2rem;
}

.feature-details{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    
}
.quick-list{
    color:rgb(114, 114, 114);
    font-weight: 700;
}

.Features{
    color: rgb(255, 144, 14);
}
.team-img-container>img{
    width: 100%;
}

/* Responsive media Query */
@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-feature{
        width: 100%;
        margin-left: 0px;
        text-align: center;
        
    }
}